
@media only screen and (max-width: 767px) {

    .some-mob{
        display:none;
    }

    .logo-login{
        margin-bottom: 30px;
    }

    .logo-login img{
        max-width:100%;
    }

    .main{
        padding-top:40px;
    }

    .box-login h1{
        font-size:20px;
    }

    nav {
        position: fixed;
        display: none;
        z-index: 1;
    }

    .cont{
        margin-left: 0;
    }

    .navegacao{
        display: none !important;
    }

    #btnMenu{
        display: block !important;
        position: fixed;
        z-index: 999;
        right: 20px;
        top: 30px;
    }

    .logotipo{
        text-align: left !important;
        padding-left:20px;
    }

    nav ul li a{
        font-size:11px;
        padding: 12px 20px;
    }

    nav{
        width:100%;
    }

    .page-atual,
    .page-btn{
        float: none;
    }
    
    .page-btn{
        text-align: center;
        margin-bottom: 50px;
    }

    .modal{
        z-index: 999999;
    }

    .modal-content{
        width:90%;
    }

    .lista-fiscal .ver {
        position: sticky;
        text-align: center;
        display: block;
        margin-top: 20px;
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    .form-check .col-md-4{
        padding: 0;
        font-size: 12px;
    }

    input[type="file"]{
        width: 80%;
    }

    header .logotipo img {
        height: auto;
        padding-top: 20px;
        max-width: 80%;
    }

    ul.modulos {
        padding: 0 10px;
        margin-top: 130px;
    }

    #frm{
        border:0 !important;
        padding-right: 30px;
    }

    #frm th{
        min-width: 150px !important;
    }

    #frm th, #frm td, #frm tr{
        font-size: 12px !important;
    }

    #frm tr{
        padding: 20px 10px;
    }

    .page-btn{
        position: static;
        top: auto;
        margin: 0;
        margin-top: 20px;
        text-align: center;
        float: none;
        padding: 0 !important;
    }

    .page-btn a{
        margin-bottom: 10px;
    }
    
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        display: -webkit-inline-box;
        padding: 0;
    }

    .pagination>li {
        display: block;
    }

}


@media only screen and (min-width: 767px) {

    .some-pc{
        display:none;
    }

}
